.App {
  background-image: linear-gradient(45deg, black, lightgray);
}
.navigation {
  border-bottom: 2px solid black;
}

.link {
  margin-left: 20px;
  color: black;
}
.link:hover {
  color: black;
}

.home {
  height: 90.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  width: 310px;
  margin: 20px;
  text-align: center;
}

.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
